.sinput__form {
  border: 1px solid #595959;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 18px 24px;
  display: flex;
  width: 100%;
  justify-content: left;
  align-self: start;
}

.sinput{
    margin-top: 25px;
    width: 100%;
    margin-bottom: 10px;
}