.nav__Buttons-Right-inner {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__Buttons-Right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
