.nav__buttons-right-inner {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__buttons-right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
