.vote {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1620px;
}

.vote__down {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 1620px;
}

.vote__title {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  margin-bottom: 5px;
}

.vote__right {
  display: flex;
  align-items: center;
  width: 35%;
}

.vote__procents {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 180%;
  color: #212127;
}

.vote__line {
  width: 100%;
  max-width: 1620px;
  border: 1px solid #a7a7a7;
}

.vote__input {
  padding: 8px;
  max-height: 32px;
  max-width: 132px;
  border: 1px solid #606060;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}
