.addfile {
  background: #ffffff;
  border: 2px dashed #595959;
  box-sizing: border-box;
  border-radius: 24px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addfile__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  color: #212127;
}

.addfile__subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #212127;
}

.addfile__description {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #595959;
}

.addfile__button{
  border:1px solid #6C6C6C;
  background-color:white;
  color:#878787;
  height: 100%;
  width: 100%;
  max-width: 167px;
  padding: 8px;
  max-height: 60px;
  border-radius: 14px;
  box-sizing: border-box;
}