.price {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.price__image-outer {
  width: 70%;
  max-width: 500px;
  height: 100%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.price__image {

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 32px;
  max-height: 32px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 23.96%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 4px;
}

.price__text {
  width: 85%;
  height: 100%;
  display: flex;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #212127;
}

.price__value-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
}

.price__value {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
